<div ng-controller="homeController">
	<div class="ui grid mg-0">
		<div class="high four wide column pd-0"  >
			<div class="ui top attached button">07</div>
		</div>
		<div class="high four wide column pd-0">
			<div class="ui top attached button">MID1</div>
		</div>
		<div class="high four wide column pd-0">
			<div class="ui top attached button">2.5</div>
		</div>
		<div class="high four wide column pd-0">
			 <div class="ui secondary menu">
			    <a class="item active" data-tab="REPORT">REPORT</a>
			    <a class="item" data-tab="SYSTEM">SYSTEM</a>
			  </div>
			  <div class="ui active tab segment" data-tab="REPORT">
			    4
			  </div>
			  <div class="ui tab segment" data-tab="SYSTEM" style="height: 320px">
			    System Automatic data:
				<div class="ui form" >
				  <div class="inline fields" >
				    <label >Pre.VIS</label>
				    <div class="field">
				    	<input type="text" style="height:20px;width: 14em;margin-left: 5px">
				    </div>
				  </div>
				  <div class="inline fields">
				    <label >MNM.VIS</label>
				    <div class="field">
				    	<input type="text" style="height:20px;width: 14em;margin-left: 5px">
				    </div>
				  </div>
				</div>
			  </div>
		</div>
	</div>
	<div class="ui grid mg-0">
		<div class="middle twelve wide column pd-0">
			<div class="ui top button"></div>
		</div>
		<div class="middle four wide column pd-0">
			<div class="ui top button"></div>
		</div>
	</div>
	<div class="ui grid mg-0">
		<div class="middle twelve wide column pd-0">
			<div class="ui top button"></div>
		</div>
		<div class="middle four wide column pd-0">
			<div class="ui top button"></div>
		</div>
	</div>
	<div class="ui grid mg-0">
		<div class="shorter twelve wide column pd-0">
			<div class="ui top button"></div>
		</div>
		<div class="shorter four wide column pd-0">
			<div class="ui top button"></div>
		</div>
	</div>
</div>