<div ng-controller="homeController">
	<div class="ui grid mg-0">
		<div class="high four wide column pd-0"  >
			<div class="ui top attached button">Button before grid</div>
		</div>
		<div class="high four wide column pd-0">
			<div class="ui top attached button">Button before grid</div>
		</div>
		<div class="high four wide column pd-0">
			<div class="ui top attached button">Button before grid</div>
		</div>
		<div class="high four wide column pd-0">
			<div class="ui top attached button">Button before grid</div>
		</div>
	</div>
	<div class="ui grid mg-0">
		<div class="middle twelve wide column pd-0">
			<div class="ui top button"></div>
		</div>
		<div class="middle four wide column pd-0">
			<div class="ui top button"></div>
		</div>
	</div>
	<div class="ui grid mg-0">
		<div class="middle twelve wide column pd-0">
			<div class="ui top button"></div>
		</div>
		<div class="middle four wide column pd-0">
			<div class="ui top button"></div>
		</div>
	</div>
	<div class="ui grid mg-0">
		<div class="shorter twelve wide column pd-0">
			<div class="ui top button"></div>
		</div>
		<div class="shorter four wide column pd-0">
			<div class="ui top button"></div>
		</div>
	</div>
</div>