<div ng-controller="newsController" >

	<div class="ui grid mg-0">
	  <div class="height1 sixteen wide column pd-0">
	  		<div class="ui top attached button">RWS200 RWY 25</div>
	  		<form class="ui form ">
	  		  <div class="inline fields" style="margin-top:5px;margin-left:350px">
			    <label style="width: 50px">Warning</label>
			    <div class="field">
			      <input type="text"  style="height:25px;width:1000px">
			     </div>
			  </div>
			  <div class="inline fields" style="margin-top:5px;margin-left:350px">
			    <label style="width: 50px">雨水量</label>
			    <div class="field">
			      <input type="text" style="height:25px;width:1000px">
			      </div>
			  </div>
			  <div class="inline fields" style="margin-top:5px;margin-left:350px">
			    <label style="width: 50px">Surface</label>
			    <div class="field">
			      <input type="text"  style="height:25px;width:1000px">
			      </div>
			  </div>
			  </form>
	  </div>
	</div>

	<div class="ui grid mg-0">
	  <div class="height2 eight wide column pd-0">
	  <form class="ui form ">
	  		<div style="margin-top:5px;margin-left:300px">
	  			Temperatures:
	  		</div>
	  		<div class="inline fields" style="margin-top:5px;margin-left:300px">
			    <label style="width: 50px">雨水量</label>
			    <div class="field">
			      <input type="text" style="height:25px;width:350px;" value="℃                                                                                                 12.3">
			      </div>
			  </div>
			  <div class="inline fields" style="margin-top:5px;margin-left:300px">
			    <label style="width: 50px">雨水量</label>
			    <div class="field">
			      <input type="text" style="height:25px;width:350px">
			      </div>
			  </div>
			  <div class="inline fields" style="margin-top:5px;margin-left:300px">
			    <label style="width: 50px">雨水量</label>
			    <div class="field">
			      <input type="text" style="height:25px;width:350px">
			      </div>
			  </div>
			  <div class="inline fields" style="margin-top:5px;margin-left:300px">
			    <label style="width: 50px">雨水量</label>
			    <div class="field">
			      <input type="text" style="height:25px;width:350px">
			      </div>
			  </div>
		</form>
	  </div>
	  <div class="height2 eight wide column pd-0">
	  		<form class="ui form ">
	  		<div style="margin-top:5px;margin-left:300px">
	  			其他:
	  		</div>
	  		<div class="inline fields" style="margin-top:5px;margin-left:300px">
			    <label style="width: 50px">雨水量</label>
			    <div class="field">
			      <input type="text" style="height:25px;width:350px;" value="℃                                                                                                 12.3">
			      </div>
			  </div>
			  <div class="inline fields" style="margin-top:5px;margin-left:300px">
			    <label style="width: 50px">雨水量</label>
			    <div class="field">
			      <input type="text" style="height:25px;width:350px">
			      </div>
			  </div>
			  <div class="inline fields" style="margin-top:5px;margin-left:300px">
			    <label style="width: 50px">雨水量</label>
			    <div class="field">
			      <input type="text" style="height:25px;width:350px">
			      </div>
			  </div>
		</form>
	  </div>
	</div>

	<div class="ui grid mg-0">
	  <div class="height3 sixteen wide column pd-0"></div>
	</div>

	<div class="ui grid mg-0">
	  <div class="height4 sixteen wide column pd-0"></div>
	</div>

</div>