* {
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
  min-width: 1070px;
  min-height: 688px;
  background-color: #d9d9d9;
}

html {
  padding: 0;
  margin: 0;
  overflow-y: hidden;
  overflow-x: auto;
}
.mg-0{
  margin: 0!important
}
.pd-0{
  padding: 3px!important
}
.column{
  border: 1px solid #ccc;
  background: #fff
}
.high.column{
  height: 390px;
}
.middle.column{
  height: 150px
}
.shorter.column{
  height: 60px
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}

.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
/*
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }
*/

/* Remove the padding we set earlier */
.header,
.marketing,
.footer {
  padding-left: 0;
  padding-right: 0;
}

/* Space out the masthead */
.header {
  margin-bottom: 30px;
}

/* Remove the bottom border on the jumbotron for visual effect */
.jumbotron {
  border-bottom: 0;
}

/*公共的部分*/
.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.ml-5 {
  margin-left: 5px;
}

.ml-2 {
  margin-left: 2px;
}

.ml-2e {
  margin-left: 2em;
}

.ml-3e {
  margin-left: 3em;
}

.ml-4e {
  margin-left: 4em;
}

.ml-5e {
  margin-left: 5em;
}

.ml-10 {
  margin-left: 10px !important;
}

.ml-15 {
  margin-left: 15px !important;
}

.mr-5 {
  margin-right: 5px;
}

.mb-5 {
  margin-bottom: 5px;
}

.pl-15e {
  padding-left: 1.5em;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.cb {
  clear: both;
}

.red-color {
  color: red;
}

.color-red1 {
  color: #f00;
}

.color-red {
  color: #fb6f4f;
}

.color-green {
  color: #4ab13f;
}

.color-black {
  color: rgba(0, 0, 0, 0.87);
}

.color-gray {
  color: #a4a3a3;
}

.fs-16 {
  font-size: 16px;
}

.f-b {
  font-weight: bold;
}

.pl1-pr1 {
  padding-left: 1em;
  padding-right: 1em;
}

.pt1 {
  padding-top: 1em;
}

.cur-po {
  cursor: pointer;
}

.width-60 {
  width: 60px !important;
}

.txc {
  text-align: center;
}

.txl {
  text-align: left;
}

a {
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.textarea-res {
  resize: none;
}

a:hover.color-red1.f-b {
  color: #f00;
  font-weight: bold;
}

.db {
  display: block;
}

.lh40 {
  line-height: 40px;
}

.lh30 {
  line-height: 30px;
}

.bg-borde {
  background: #d5ecf9;
}

.wd-130 {
  width: 130px;
}

ul li {
  text-decoration: none;
  list-style-type: none;
}

/*ul li横排处理*/
.status-list ul {
  margin-left: 1px;
  list-style: none;
  font-size: 16px;
}

.status-list li {
  display: inline;
  cursor: pointer;
}

.status-list li a {
  padding: 6px 20px;
  color: #666;
  background: snow;
  border: 1px solid #c3c3c3;
  border-radius: 7%;

}

.status-list .active {
  border-radius: 0;
  border-top: 3px solid #00459a;
  border-right: none;
  border-bottom: none;
  border-left: none;
  font-size: 18px;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px;
  color: black;
}

/*对于下拉框的处理*/
.number-type .ui.fluid.dropdown {
  min-width: 3em !important;
}

.commonBoxscroll {
  width: 100%;
  overflow: auto;
}

.commonHeight {
  height: 700px;
}

/*index top menu*/
.top-menu-img {
  max-width: 40px;
  width: 40px;
  height: 40px;
  display: block;
}

/*index top menu*/
.top-menu-img {
  max-width: 40px;
  width: 40px;
  height: 40px;
  display: block;
}

.left-menu {
  width: 200px !important;
  padding-left: 0em;
  padding-right: 0em;
  float: left;
  height:200px;
}

.title-home {
  text-align: center;
}

.index .ui.accordion .title-home a {
  display: block;
  width: 200px;
  height: 51px;
  font-size: 18px;
  line-height: 51px;
  color: snow;
}

.index .ui.accordion .title-home.active a {
  width: 205px;
  color: snow;
  background: rgb(211,228,244);
}

.left-menu-height, .right-content {
  min-height: 910px;
}

.right-content-position {
  margin-right: 10px;
  margin-left: 220px;
  margin-top: 20px;
}

.right-content {
  width: 1000px;
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}

.all-content-margin {
  margin-left: 1em;
  margin-right: 1em;
}

.left-new-button {
  margin-left: 30px !important;
}

.bg-white {
  background: #fff;
}

/*table的样式*/
.table-many-bg {
  padding: 0.35em 0.9em;
  color: #fff;
  font-size: 12px;
  border-radius: 6px;
}

.table-app-bg {
  background: #ff634a;
}

.table-tel-bg {
  background: #46b33b;
}

.table-online-bg {
  background: #5ca6ff;
}

.table-offline-bg {
  border: 1px solid #5ca6ff;
  color: #5ca6ff;
}

.table-count-color {
  color: #309626;
}

.table-price-color {
  color: #ff634a;
}

.table-self-color {
  background: #fe8a00;
}

.table-outsource-color {
  background: #61bd2a;
}

.b-icon {
  color: #eb4b3d;
}

.color-m {
  color: #eb4b3d;
}

.td-label {
  font-weight: 800;
  color: #555;
}

/*设置table的高度*/
#inquiryBoxscroll, #inquiryingBoxscroll, #ipriceBoxscroll,
#iprivateBoxscroll, #ipublicBoxscroll {
  height: 700px;
}

/*弹框*/
.ui.modal {
  width: 900px !important;
  left: 50%;
}

.scrolling.undetached.dimmable .ui.scrolling.modal.publish-deal {
  left: 50%;
}

.inquiry-deal-area .ui.selection.dropdown {
  min-width: 8em;
  width: 8em;
}

.publish-deal.ui.modal > .actions {
  text-align: center;
  margin-left: 15em;
}

.publish-deal .ui.grid {
  margin-top: 0rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.publish-deal .ui.grid > .column:not(.row) {
  padding-top: 0.2rem;
  padding-bottom: 0.4rem;
}

#publishDigBoxscroll .publishDigList .ui.grid {
  border-bottom: 1px solid rgba(34, 36, 38, .15);
  margin-bottom: 0.5rem;
}

.publish-deal .content .idialog-list {
  font-size: 12px;
}

.waybillInfo-content {
  padding: 10px;
}

.price.ui.grid {
  width: 600px;
  margin: 0 auto;
  background: rgb(247, 247, 249);
  border-radius: 100px;
}

/**/
.publish-add.ui.modal {
  width: 850px !important;
}

/*详情*/
.detail-out-div {
  display: inline-block;
  position: relative;
  vertical-align: bottom;
  height: 400px;
  width: 100%;
}

.detail-order {
  width: 59%;
  margin-right: 1%;
  float: left;
  height: 400px;
  position: relative;
}

.idetail.ui.celled.grid > .column:not(.row),
.idetail.ui.celled.grid > .row > .column {
  padding: 0em !important;
}

@media screen and (max-width: 1650px) {
  .search-form .ui.selection.dropdown {
    min-width: 10em;
  }

  .inquiry-deal.ui.modal {
    left: 38%;
  }

  .scrolling.undetached.dimmable .ui.scrolling.modal.inquiry-deal {
    left: 38%;
  }
}

@media screen and (max-width: 1480px) {
  .search-form .ui.selection.dropdown {
    min-width: 8em;
  }
}

/*运单页面*/
.detail-content {
  padding: 0.5em 1em;
  margin-top: 13px;
  background: snow;
  width: 980px;
  min-height: 680px;
  border: 1px solid #c3c3c3;
}

.table-title {
  margin-top: 45px;
}

.release-button {
  text-align: center;
  font-size: 16px;
  color: snow;
  background: #eb4b3d;
  width: 95px;
  padding: 5px;
  border-radius: 8%;
}

.release-button:hover {
  color: snow;
}

.white-button {
  text-align: center;
  font-size: 16px;
  color: rgb(125, 125, 125);
  background: rgb(223, 223, 223);
  width: 95px;
  padding: 5px;
  border-radius: 6%;
}

.bottom-content tr td {
  width: 160px;
  height: 42px;
  font-size: 13px;
  margin-top: 30px
}

/*运单弹框*/
.sign-details {
  margin: 10px auto;
}

.sign-details tr td {
  width: 300px;
  font-size: 18px;

}

.driverList.table {
  width: 100%;
}

.driverList.table td {
  font-size: 14px;
  padding: 20px 10px;
  border-top: 1px solid #c2ccd1;
}

.driverList.table td:first-child {
  padding-left: 30px;
}

.driverList.table td:last-child {
  padding-right: 20px;
}

.driver-name {
  color: rgb(236, 74, 59);
  font-size: 18px;
  font-weight: 600;
}

.free-icon {
  background: rgb(143, 195, 32);
  color: snow;
  padding: 5px 8px;
  border-radius: 25%;
}

.busy-icon {
  background: rgb(255, 47, 47);
  color: snow;
  padding: 5px 8px;
  border-radius: 25%;
}

.driverList-button {
  margin-top: 5%;
  margin-left: 10em;
}

.waybill-info table tr td {
  padding-bottom: 25px;
}

/*首页*/
.distribution {
  margin-left: -5px;
  margin-top: -5px;
  background-color: #ffffff;
  border: 1px solid #c3c3c3;
}

.home .module-title {
  background: #f7f7f9;
  text-align: left;
  padding: 0 10px;
  color: #888;
  border-bottom: 1px solid #c3c3c3;
}

.home .module-title span {
  font-size: 16px;
  line-height: 36px;
}

.home .status-list li a {
  font-size: 12px;
  padding: 8px 13px;
  background-color: #ffffff;
}

.home .status-list a.active {
  border-radius: 0;
  border-top: 3px solid #00459a;
  border-right: none;
  border-bottom: none;
  border-left: none;
  font-size: 13px;
  font-weight: bolder;
  padding-bottom: 18px;
  padding-left: 9px;
  padding-right: 9px;
  color: black;
}

.home_title_icon {
  font-size: 18px !important;
  color: #ffc000;
  cursor: pointer;
}

.listInfo {
  width: 100%;
  height: 450px;
  margin-top: 10px;
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #c3c3c3;
  float: left;
}

.vehicle-table {
  width: 100%;
}

.vehicle-table tr td {
  font-size: 14px;
  padding: 10px 3px;
  border-bottom: 1px solid #c2ccd1;
}

.vehicle-table tr:last-child td {
  border: none;
}

.logistic {
  width: 510px;
  height: 240px;
  margin-left: -5px;
  margin-top: 10px;
  background-color: #ffffff;
  border: 1px solid #c3c3c3;
  float: left;
}

.pay-information {
  width: 460px;
  height: 240px;
  margin-left: 20px;
  margin-top: 10px;
  background-color: #ffffff;
  border: 1px solid #c3c3c3;
  float: left;
}

/*客户管理*/
.small-title {
  color: #e94c3b;
  font-size: 18px;
  margin: 10px 8px;
  font-weight: bold;
}

.customer-view {
  margin-top: 30px;
  background: rgb(247, 250, 255);
  border: 1px solid rgb(225, 229, 238);
}

.customer-title {
  font-size: 18px;
  background: rgb(222, 239, 255);
  padding: 8px 12px;
}

.customer-content {
  padding: 12px;
}

.counts-num {
  font-size: 44px;
  font-weight: bolder;
  margin: 70px auto;
  color: rgb(236, 74, 63);
}

.customer-info ul li {
  margin: 15px;
  text-align: left;
  font-size: 15px;
  height: 23px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.address li {
  text-align: left;
  border-bottom: 1px solid rgb(225, 229, 238);
  font-size: 15px;

  padding: 10px;
}

/*新闻页面*/
.news-title {
  color: black;
  font-weight: bold;
}

.form-content {
  margin-top: 60px;
  margin-left: 20px;
}

.form-title {
  font-size: 16px;
  width: 60px;
  margin: 6px;
}

/*系统页面*/
.restart.table {
  text-align: left;
  border: none;
  font-size: 18px;
  background: none
}

.restart.table tbody tr td {
  padding: 20px;
}

.preview {
  margin: 30px auto;
  width: 400px;
  text-align: center;
  font-size: 18px;
  line-height: 16px;
  text-indent: 2em
}

.preview p {
  margin: 10px 10px;
}

.welcome-view {
  margin: 15px;
}

.welcome-view span {
  font-size: 18px;
  color: #eb4b3d;
  margin-left: 20px;
}

/* */
.common2Boxscroll {
  width: 100%;
  overflow: auto;
  margin-bottom: 10px;
}

.frequentBoxscroll {
  height: 500px;
}

